@model ModelCodeFluent.Vehicle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RaisePropertyChangedEvents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaisePropertyChangedEvents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityState)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VehicleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
